body {
	background-color: #666666;
	margin: 0px;
}
a:link {
	color: #3366CC;
}
a:visited {
	color: #333333;
}
a:hover {
	color: #666666;
}
a:active {
	color: #666666;
}
.lower_left_services {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 19px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #999999;
}

.text_blue_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #006699;
}


.text_reg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	color: #666666;
}

.text_reg_pad {
	padding-left: 5px;
	font-family: Verdana;
	font-size: 12px;
}

.text_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	color: #666666;
}
.photo_text_right {
	padding-bottom: 10px;
	padding-left: 10px;
}

.project_list_reg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 13px;
	color: #666666;
}
.login_text_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 14px;
	font-weight: bold;
	color: #666666;
}

.text_reg_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #3366CC;
}

.text_reg_red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FF0000;
}


.text_blue_bold2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #006699;
}
