body {
    background-color: #666666;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
}
.body-content {
    width: 60%;
    background: white;
    padding-top: 8em;
}
.nonbullet{
    list-style-type:none;
}
.side-li {
    color: #a5a5a5;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    padding-left: 0px;
}
p.loged-in-user {
    line-height: 5em;
    margin-bottom:1em;
    color: #827f7f;
    font-weight: 800;
}
.side-img {
    border-bottom: 2px dotted #b3b1b1;
    border-top: 2px dotted #b3b1b1;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
}
p.side-text {
    font-size: 12px;
    color: grey;
    line-height: 20px;
}
.blue-text {
    color: #006699;
    font-size: small;
    font-weight: 800;
}
nav{
    width:60%;
    margin: 0 auto;
    position:relative;
}
.selectproject {
    padding-left: 0px;
    line-height: 2.5em;
}
.banner{
    width:100%;
}
.menu-section ul{
    display:flex;
    padding-left:0px;
    margin-bottom: 0px;
}
.menu-img{
     width:100% ;height:23px;
}
.menu-list{
    width:20%!important;
        position: relative;
}
#li-1:hover{
    background-color:black;
    width:20%;
}
#li-2:hover{
    background-image:url("../Graphics/top_02.gif");
    width:20%;
}
#li-3:hover{
    background-image:url("../Graphics/top_03.gif");
    width:20%;
}
#li-4:hover{
    background-image:url("../Graphics/top_04.gif");
    width:20%;
}
#li-5:hover{
    background-image:url("../Graphics/top_05.gif");
    width:20%;
}
label.grey-text {
    font-weight: bold;
    color: #666666;
}
label.lab{
       font-weight: bold;
    color: #666666;
}
.input-text{
        width: 80%;
}
.text_reg {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    color: #666666;
    font-weight: 200;
}.blue {
    color: #3366CC!important;
}
 .new-btn{
    background: #383838;
    border: none;
    color: white;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
}
 .mobile-nav{
    width: 100%;
    z-index: 999999;
}
 .black{
       background:black;
 }
  .red{
        background:#cc0000;
 }
   .blue-li{
        background:#006699;
 }
    .green{
        background:#009966;
 }
     .yellow{
        background:#ffff1d;
 }
   .white{
         color:white!important;
     }
    .grey{
        color:grey;
    }
    .navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    border-bottom:1px solid #d6d6d6!important;
}
      .mobile-ul {
    margin-bottom: 0px;
    margin-top: 0px;
}
     .mobile-nav .navbar-header{
    background: #dadada;
    color: grey;
      }
     .navbar-toggle {
    border-color: #adabab!important;
}

     .bodered-input{
             border: 1px solid #a0a0a0;
     }
   label.cp {
    padding-top: 9px;
    font-size: 25px;
    color: #b9b8b8;
    margin-left: -12px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #bfbfbf;
}
.issue-log{
    width:100%!important;
}
@media only screen and (min-width:320px) and (max-width:600px)and (orientation:portrait)
{
    .body-content {
    width: 100%;
        padding-top: 6em;
}
}
@media only screen and (min-width:320px) and (max-width:600px)  and (orientation:landscape){

}
@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait)
{
    .body-content {
        width: 90%;
    }
    nav {
        width:90%;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape)
{
    .body-content {
        width: 90%;
    }
    nav {
        width:90%;
    }
nav ul li a img{
  
}
}