.dxDisabled_Office2003_Silver
{
	color: #808080;
}
.dxeBase_Office2003_Silver
{
    font-family: Tahoma;
    font-size: 9pt;
}
/* -- ErrorFrame -- */
.dxeErrorCell_Office2003_Silver, .dxeErrorCell_Office2003_Silver td
{
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxeErrorCell_Office2003_Silver
{
	padding-left: 4px;
	padding-right:5px;		
}
.dxeErrorFrame_Office2003_Silver
{
	padding-right: 3px;
}
.dxeEditArea_Office2003_Silver 
{
	font-family: Tahoma;
	font-size: 9pt;
	border: solid 1px #7c7c94;
}
/* -- Buttons -- */
.dxeButtonEditButton_Office2003_Silver, .dxeCalendarButton_Office2003_Silver
{
	vertical-align: middle;
	border: solid 1px #7c7c94;
} 
.dxeButtonEditButton_Office2003_Silver, .dxeCalendarButton_Office2003_Silver, .dxeButtonEditButton_Office2003_Silver td.dx, .dxeCalendarButton_Office2003_Silver td.dx
{	
    font-family: Tahoma;
    font-size: 9pt;        
	text-align: center;
} 
.dxeButtonEditButton_Office2003_Silver
{
    padding: 3px 1px;
	background: url(edtButtonBack.gif) repeat-x center bottom #e6e6f0;
}
.dxeButtonEditButton_Office2003_Silver table.dxbebt
{
	width: 14px;
}

.dxeCalendarButton_Office2003_Silver      
{
	background: url(edtButtonBack.gif) repeat-x center bottom #e6e6f0;
	padding: 4px 11px;
	padding-top: 2px;
	width: 32px;
}
.dxeCalendarButton_Office2003_Silver td.dx
{
	text-align: center;
	white-space: nowrap;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_Office2003_Silver, .dxeButtonEditButtonPressed_Office2003_Silver
{
	border: solid 1px #000080;
	background: url(edtButtonBackPressed.gif) repeat-x center top #ffcf8b;	
}
/* -- Hover -- */
.dxeCalendarButtonHover_Office2003_Silver, .dxeButtonEditButtonHover_Office2003_Silver
{
	border: solid 1px #000080;
	background: url(edtButtonBackHover.gif) repeat-x center bottom #fff2c8;
}

.dxeButtonEdit_Office2003_Silver
{
    background-color: white;
    border: solid 1px #7c7c94;
    width: 170px;
}
.dxeButtonEdit_Office2003_Silver .dxeEditArea_Office2003_Silver, .dxeButtonEdit_Office2003_Silver td.dxic
{
	width: 100%;
}
.dxeButtonEdit_Office2003_Silver td.dxic
{
    padding: 0px 2px 0px 1px;
}
.dxeTextBox_Office2003_Silver, .dxeMemo_Office2003_Silver
{
    background-color: white;
    border: solid 1px #7c7c94;
}
.dxeTextBox_Office2003_Silver td.dxic
{
	padding: 1px 2px;
}
.dxeTextBox_Office2003_Silver td.dxic 
{
	width: 100%;
}
.dxeRadioButtonList_Office2003_Silver, .dxeRadioButtonList_Office2003_Silver table
{
    font-family: Tahoma;
    font-size: 9pt;    
}
.dxeRadioButtonList_Office2003_Silver
{
    border: Solid 1px #7c7c94;
}
.dxeRadioButtonList_Office2003_Silver td.dxe
{
    padding: 6px 11px;
}

/* -- Memo -- */
.dxeMemo_Office2003_Silver
{
	padding-left: 3px;
}
.dxeMemoEditArea_Office2003_Silver 
{
	font-family: Tahoma;
	font-size: 9pt;
}
.dxeMemo_Office2003_Silver td
{
	width: 100%;
}

/* -- Hyperlink -- */
.dxeHyperlink_Office2003_Silver
{
    font-family: Tahoma;
    font-size: 9pt;
    color: black;    
	text-decoration: underline;
}

/* -- ListBox -- */
.dxeListBox_Office2003_Silver
{
	border: solid 1px #7c7c94;
    width: 70px;
}
.dxeListBox_Office2003_Silver div.dxlbd
{
	padding-top: 1px;    
    padding-bottom: 0px;
	background-color: white;
    font-family: Tahoma;
    font-size: 9pt;
    height: 70px;
}
.dxeListBoxItem_Office2003_Silver
{    
    border-bottom: solid 1px white;    
    border-left: solid 1px white;    
    border-right: solid 1px white;    
    font-family: Tahoma;
    font-size: 9pt;        
    padding: 3px 2px 4px 3px;
    white-space: nowrap;
    text-align: left;
}
.dxeListBoxItemHover_Office2003_Silver        /* inherits dxeListBoxItem */
{
    background-color: #dfdfdf;
}
.dxeListBoxItemSelected_Office2003_Silver     /* inherits dxeListBoxItem */
{    
    color: black;
    background-color: #ffc076;
}

/* -- Calendar -- */
.dxeCalendar_Office2003_Silver
{
 
    border: solid 1px #7c7c94;
    background-color: white;
}
.dxeCalendar_Office2003_Silver td.dxMonthGrid 
{
    padding: 8px 20px;
}
.dxeCalendar_Office2003_Silver td.dxMonthGridWithWeekNumbers
{
    padding: 8px 20px 8px 8px;
}
.dxeCalendarDayHeader_Office2003_Silver
{
    font-family: Tahoma;
    font-size: 9pt;        
    padding: 4px 4px 5px;    
    border-bottom: solid 1px #d9d9d9;    
}
.dxeCalendarWeekNumber_Office2003_Silver
{    
    font-family: Tahoma;
    font-size: 7pt;    
    text-align: right;
    vertical-align: bottom;
	padding: 5px 8px 3px 4px;
    color: #cac9c9;
}
.dxeCalendarDay_Office2003_Silver
{    
    font-family: Tahoma;
    font-size: 9pt;
    padding: 4px;
    padding-bottom: 3px;    
}
.dxeCalendarWeekend_Office2003_Silver        /* inherits dxeCalendarDay */
{
    color: #c00000;
}
.dxeCalendarOtherMonth_Office2003_Silver     /* inherits dxeCalendarDay */
{
    color: #888;
}
.dxeCalendarSelected_Office2003_Silver       /* inherits dxeCalendarDay */
{
    color: black;
    background-color: #ffc076;
}
.dxeCalendarHeader_Office2003_Silver
{
    background: url(edtCalendarHeadBack.gif) repeat-x center bottom #f3f4fa;
    border-bottom: solid 1px #d9d9d9;
    padding: 4px 7px;
}
.dxeCalendarHeader_Office2003_Silver td.dxe
{
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
}
.dxeCalendarFooter_Office2003_Silver 
{
    background-color: #dfdfdf;
    padding: 8px 0px;    
    border-top: solid 1px #d9d9d9;
}